body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.nav-img {
  object-fit: fill;
  object-position: center;
  width: 90%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-self: center;
  max-width: 1244px;
}

header {
  text-align: center;
}

.title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.columns {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  width: 90%;
}

.column-1 {
  flex: 1;
  max-width: 50%;
}

.paragraph {
  text-align: justify;
}

.calculation,
.column-2 {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
}

.calc-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.calc-description {
  font-size: 0.9em;
  margin-bottom: 15px;
}

.calc-field {
  margin-bottom: 5px;
  align-items: stretch;
  display: flex;
  justify-content: center;
}

.calc-field input[type="number"] {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.calc-field label {
  width: 30%;
  padding: 8px;
  box-sizing: border-box;
}

.canvas-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

#myCanvas {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  margin-left: 20px;
}

canvas {
  flex: 1;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

.column-1,
.column-2 {
  flex: 1;
}

.results {
  margin-bottom: 5px;
  align-items: stretch;
  display: flex;
  justify-content: center;
}

.results .calc-result {
  width: 25%;
  font-weight: bold;
  font-size: 1.2em;
  color: #007bff;
  border-color: #007bff;
  font-size: 16px;
  cursor: pointer;
  padding: 12px;
  border-radius: 10px;
}

.results label {
  width: 0;
  padding: 0;
}

.results #unit-converter {
  width: 70%;
  color: #007bff;
  border-color: #007bff;
  font-size: 16px;
  cursor: pointer;
  padding: 12px;
  border-radius: 10px;
  margin-left: 5%;
}

.option-value {
  background-color: #fff;
  color: #007bff;
  border-color: #007bff;
}

.calc-result:hover,
#unit-converter:hover {
  background-color: #007bff;
  color: #fff;
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
    padding: 0;
  }

  .columns {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    height: 1300px;
  }

  .column-1,
  .column-2 {
    width: 100%;
    flex: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    line-height: normal;
    margin-left: 0;
  }

  .column-2 {
    height: 460px;
  }

  .calculation,
  .column-2 {
    padding: 0px 0px 20px 0px;
  }
}
